html,
body {
    margin: 0;
    font-family: 'Karla';
    color: #546E7A;
}

* {
    box-sizing: border-box;
}

nav {
    margin-bottom: 1em;
}

.timetable {
    box-shadow: 0 0 10px #ECEFF1;
    padding: 0.25em;
    display: grid;
    grid-template-areas: ". week""time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
}

.timetable .accent-pink-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ee8ebc, #eea08e);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-pink-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .accent-orange-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #eec08e, #dcee8e);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-orange-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .accent-green-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-green-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .accent-cyan-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .accent-blue-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .accent-purple-gradient {
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c08eee, #ee8edc);
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .accent-purple-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.timetable .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
}

.timetable .week-names>div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #ECEFF1;
}

.timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    font-size: 14px;
}

.timetable .time-interval>div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 3.5rem;
    max-height: 100%;
    box-shadow: inset 0 1px 0 0 #ECEFF1;
}

.timetable .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.timetable .content>div {
    box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
}

.result {
    padding: 0.5em;
    border: solid 1px #dbdbdb;
    height: 300px;
    overflow-y: scroll;
}

.result>.course {
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #f3f3f3;
    min-height: 3em;
    position: relative;
    padding: 0.5em 2.5em 0.5em 0.5em;
}

.result>.course>button {
    position: absolute;
    right: 1em;
    margin: 0 auto;
}