html,
body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    padding-top: 4.5rem;
}

* {
    box-sizing: border-box;
}

nav {
    margin-bottom: 1.75rem;
    box-shadow: 0 5px 10px #e6e9eb;
}

.navbar-brand img {
    transform: translateY(10%);
    max-height: 2rem;
}

footer {
    line-height: 2;
    position: static;
    margin-top: 3em;
    color: #AAAAAA
}

.timetable {
    overflow-x: scroll;
}

.timetable {
    box-shadow: 0 0 10px #ECEFF1;
    padding: 0.25em;
    display: grid;
    grid-template-areas: ". week""time content";
    grid-template-columns: 120px;
    grid-template-rows: auto;
}

.timetable .period {
    cursor: pointer;
    display: block;
    background-color: #f9f9f9;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    -webkit-transition: .2s ease box-shadow, .2s ease transform;
    transition: .2s ease box-shadow, .2s ease transform;
}

.timetable .period:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 10;
}

.timetable .period span {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.timetable .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
}

.timetable .week-names>div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #ECEFF1;
}

.timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    font-size: 14px;
}

.timetable .time-interval>div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 3.5rem;
    max-height: 100%;
    box-shadow: inset 0 1px 0 0 #ECEFF1;
}

.timetable .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(7, 1fr);
}


.timetable .content>div {
    min-width: 90px;
    box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
}

.course-panel {
    position: relative;
    padding: .75em .5em;
    margin-bottom: 1em;
    border: solid 1px #dbdbdb;
}

.course-list {
    height: 300px;
    overflow-y: scroll;
}

.course-panel .credits {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-10%, -25%);
    z-index: 10;
}

.course-list>.course {
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #f3f3f3;
    min-height: 3em;
    position: relative;
    padding: 0.5em 2.5em 0.5em 0.5em;
}

.course-list>.course #name {
    cursor: pointer;
}

.course>.toggle-course {
    position: absolute;
    right: 1em;
    transition: transform .25s;
}

.course>.toggle-course.is-selected {
    color: hsl(348, 100%, 61%);
    transform: rotate(45deg);
}

.modal-launcher *,
.toggle-course * {
    pointer-events: none;
}


/* animate.css */
@keyframes backInDown {
    0% {
        transform: translateY(-1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.is-active .modal-content {
    animation-name: backInDown;
    animation-duration: 0.5s;
}

.dl-horizontal {
    font-size: 0;
    text-align: center;
}

.dl-horizontal dt,
.dl-horizontal dd {
    width: 48%;
    width: calc(50% - 10px);
    margin: 8px 0;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.dl-horizontal dt {
    text-align: right;
    padding-right: 10px;
}

.dl-horizontal dd {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
}